* {
    font-family: Inter, Arial;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 10px;
    }

    .playerChoices {
        flex-direction: column;   
        column-gap: 1rem;
    }
}

@media only screen and (min-width: 2000px) {
    * {
        font-size: 35px;
    }
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 4.5rem 5rem;
    flex-direction: column;
    box-sizing: border-box;
}

.rules {
    color: #575757;
}

.result {
    margin-top: 0.6rem;
    text-align: center;
    padding: 3rem 0;
    font-size: 2.4rem;
    font-weight: 600;
}

.player {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.score, .divider {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 3rem;
}

.playerIcon, .computerIcon {
    padding: 1.4rem 8rem;
    margin-bottom: 2rem;
}

.playerIcon {
    padding-left: 0;
}

.computerIcon {
    padding-right: 0;
}

i {
    font-size: 2rem;

}
.playerChoices {
    gap: 3rem;
    flex-wrap: wrap;
}

button {
    font-size: 1.2rem;
    border-radius: 1.4rem;
    border: none;
    width: 10rem;
    padding: 0.8rem;
    cursor: pointer;
    font-weight: 700;
}

#rock, #paper, #scissors {
    background-color: black;
    color: white;
}

footer {
    box-sizing: border-box;
    width: 100%;
    border-top: 0.1rem solid #CACACA;
}

footer a {
    text-decoration: none;
}

footer p {
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
}

footer i {
    font-size: 1.2rem;
}

#rock:hover, #paper:hover, #scissors:hover {
    background-color: #575757;
    transition: background-color 0.2s;
}

#newGame:hover {
    background-color: #575757;
    color: white;
    transition: background-color 0.2s;
}